<%- include('includes/html') %>

<body>

  <section class="container">
    <h1>
    
      
        <%= titulo %>
      
    </h1>
    <section class="container">
      <h1><%= umaVariavelLocal %></h1>
    
      <form action="/" method="post">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" <%# colocar dentro de todo formulario, para gerar o token %>
        <label>Cliente</label>
        <input type="text" name="cliente">
        <button>Submit</button>
      </form>
    </section>
  </section>

  <script src="./assets/js/bundle.js"></script>
</body>

</html>